version: 2.1

jobs:
  build:
    docker:
      - image: cimg/openjdk:17.0
    steps:
      - checkout
      - run:
          name: Run tests
          command: |
            if [ -f "pom.xml" ]; then
              mvn test
            elif [ -f "build.gradle" ]; then
              ./gradlew test
            else
              echo "No Maven or Gradle build file found"
              exit 1
            fi

workflows:
  build_and_test:
    jobs:
      - build
